@page "/"

<h1>關於我</h1>

<div>
    <p>大家好，我是黃志穎，大家都叫我Nono,</p>
    <p>
        從小就熱愛資訊及遊戲
        畢業於澎湖科技大學資訊工程系
    </p>
    <p>
        在學期間，學習到了很多的相關語言(JAVA、C、C++、Python)，以及製作一些小程式。
        在畢業專題中，製作了關於澎湖電動機車充電站的APP，對澎湖觀光有益，因此參與了”2018 第十七屆離島資訊技術與應用研討會”介紹了關於我的APP，這是一場很難忘的體驗。
    </p>
    <hr style="border:1px dashed #000; height:1px">
    <p>
        現況：參與了一項產品開發，目前負責APP部分<br>
        在此產品使用到的技術有：<br>
        <ul> 
            <li>SQLite</li>
            <li>Http/Https</li>
            <li>TCP/IP</li>
            <li>firebase cloud messaging (FCM)</li>
            <li>RESTflu APIs</li>
            <li>Google Admob</li>
            <li>facebook audience network</li>
            <li>RESTflu APIs</li>
        </ul>
        <br />
    </p>
</div>


