
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <RadzenImage Path="images/me.jpg"
      Style="
        height: 180px;
        width: 180px;
        border-radius: 50%;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
        color: #ca7d60;
        display: block;
        margin:30px 30px 0px 30px
        " />
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"style="font-weight:bold"></span> 關於
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <span class="oi oi-book" aria-hidden="true"style="font-weight:bold"></span> 技能
            </NavLink>
        </li>
    </ul>
    <div class="sidebar-footer">
        <div class="icontext" style="font-size:15px">
            <RadzenIcon Icon="mail" /> <a href="mailto:p147123456@gmail.com" style="padding-left:10px;">p147123456@gmail.com</a>
        </div>
        <br />
        <div class="icontext" style="font-size:15px">
            <RadzenIcon Icon="phone" /><span style="padding-left: 10px;">(+886)981-928-535</span>
        </div>
    </div>
</div>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
