<div class="top-row pl-4 navbar navbar-dark"style="background-color: rgba(0, 0, 0, 0.15)">
    <a class="navbar-brand" href="" style="font-weight:bold;font-size:x-large">NonoHuang</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon" style="background-color:darksalmon"></span>
    </button>
</div>
<div class="sidebar-img">
    <RadzenImage Path="images/me.JPG"
       Style="
        height: 180px;
        width: 180px;
        border-radius: 50%;
        color: #ca7d60;
        display: block;
        margin:auto
        " />
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                關於
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                技能
            </NavLink>
        </li>
    </ul>
</div>
<div class="sidebar-footer" style="padding-top:10vh">
    <div class="icontext" style="font-size: 15px;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3)">
        <RadzenIcon Icon="mail" /> <a href="mailto:p147123456@gmail.com" style="padding-left:10px;">p147123456@gmail.com</a>
    </div>
</div>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
